@import url("./color.css");

@import url("./nav.css");
@import url("./footer.css");

html {
  font-size: 14px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-1);
  margin: 0;
}

.blog-container {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
  max-width: 1024px;
}
.blog-main {
  grid-area: main;
  margin-bottom: 50px;
  padding: 0 30px;
}
.blog-footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
  color: var(--text-2);
}

@media (max-width: 425px) {
  .blog-container {
    padding: 0 15px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .blog-container {
    padding: 0 20px;
  }
}
